<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style-login.css">
    <title>Login</title>

</head>

<body>
    <div class="container">
        <div class="box">
            <span>

                <a class="exit" href="/"><img src="./imagens/x.svg" alt="close"></a>
            </span>

            <section class="cadastro">

                <h1>Cadastrar</h1>

                <div class="Form">


                    <form action="/cadastro" method="post">
                        <input type="text" name="nome_cliente" id='name' placeholder="Digite seu nome " />
                        <input type="text" name="email" id="email" placeholder="Digite seu email" />
                        <input type="password" name="senha" placeholder="Digite sua senha" />
                        <input type="password" name="confirma_senha" placeholder="Confirme a senha">
                        <button type="submit" id="SubmitButton" class="btn">Cadastrar</button>
                    </form>
                    <div class="social">
                        <button class="facebook btn">
                            <img src="./imagens/facebook-f-brands.svg" style="width: 10px;"><a
                                href="https://www.facebook.com/">Entrar com Facebook</a>
                        </button>
                        <button class="google btn">
                            <img src="./imagens/google-brands.svg" style="width: 15px;"><a
                                href="https://www.Google.com/">Entrar
                                com Google</a>
                        </button>
                    </div>
                </div>
            </section>
            <section class="login">
                <h1>Entrar</h1>

                <div class="Form">
                    <form class="Form" action="/login" method="post">
                        <form action="/cadastro" method="post">
                            <input name="email" type="text" placeholder=" Digite seu E-mail">
                            <input name="senha" type="password" placeholder=" Digite sua senha">
                            <button type="submit" id="SubmitButton" class="btn">Entrar</button>
                        </form>
                </div>
                <div class="links">

                    <a href="#">Esqueceu sua senha?</a>

                </div>
            </section>
        </div>
    </div>

</body>

</html>