<div class="container">
    <div class="box">
        <span>

            <a class="exit" href="/"><img src="./imagens/x.svg" alt="close"></a>
        </span>

        <section class="cadastro">

            <h1>Cadastrar</h1>

            <div class="Form">
                <input type="text" placeholder="Digite seu nome ">
                <input type="text" placeholder="Digite seu email">
                <input type="password" placeholder="Digite sua senha">
                <input type="password" placeholder="Confirme a senha">
                <button class="btn">Cadastrar</button>
                <div class="social">
                    <button class="facebook btn">
                        <img src="./imagens/facebook-f-brands.svg" style="width: 10px;"><a
                            href="https://www.facebook.com/">Entrar com Facebook</a>
                    </button>
                    <button class="google btn">
                        <img src="./imagens/google-brands.svg" style="width: 15px;"><a
                            href="https://www.Google.com/">Entrar
                            com Google</a>
                    </button>
                </div>
            </div>
        </section>
        <section class="login">
            <h1>Entrar</h1>

            <div class="Form">
                <input type="text" placeholder=" Digite seu E-mail">
                <input type="password" placeholder=" Digite sua senha">
            </div>
            <div class="links">

                <a href="#">Esqueceu sua senha?</a>

            </div>
            <button class="btn">Entrar</button>
        </section>
    </div>
</div>



</body>

</html>