<%- include("../partials/header") %>

    <main>

        <div class="seu-pedido">
            <p>Pedido efetuado!</p>

            <p>Anote o número do seu pedido:</p>

            <a href="#">321-123</a>
        </div>
    </main>

    <%- include("../partials/footer") %>