@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
span {
  display: flex;
  display: inline-block !important;
  position: absolute;
  top: 3%;
  left: 20%;
  z-index: 1;
}
span img {
  background-color: #fff;
  display: flex;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 12px 17px 4px rgba(0, 0, 0, 0.42);
  display: inline-block;
  cursor: pointer;
  fill: #fff;
  border: 0.1px solid rgb(179, 171, 171);
}
span img:hover {
  background-color: #739a4b;
  cursor: pointer;
  transition: background 0.7s;
  transform: scale(1.1);
  border: 1px solid #739a4b;
}
h1 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  font-size: 2rem;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  height: fit-content;
  width: 49.063rem;
  /* Border radius para corrigir sombreamento */
  border-radius: 0.75rem;
  /* Sombreamento */
  box-shadow: 0px 12px 17px 4px rgba(0, 0, 0, 0.42);
}

button {
  transition: ease-in-out 0.25 !important;
  width: 100% !important;
  box-shadow: 0px 12px 17px 4px rgba(0, 0, 0, 0.12) !important;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.85rem;
}

button:hover {
  transition: ease-in-out 0.25 !important;
  transform: scale(1.1);
}
.Form {
  padding-top: 1rem;
}

.Form button {
  color: #fff;
}

.Form button:hover {
  background-color: #fff;
  color: #739a4b;
  border: 1px solid #739a4b;
}

.cadastro {
  width: 60%;
  background-color: #f0f0d8;
  /* Definimos borda da esquerda */
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  /* O Padding pega dentro do elemento */
  padding: 3rem 2rem;
  display: flex;
  /* Com o direction como column, o align items vira horizontal e o justify vertical */
  flex-direction: column;
  align-items: center;
}

.login {
  width: 40%;
  background-color: #739a4b;
  /* Definimos bordas da direita */
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  padding: 3rem 2rem;
  display: flex;
  /* Com o direction como column, o align items vira horizontal e o justify vertical */
  flex-direction: column;
  align-items: center;
}

.login > h1 {
  color: white;
}

input {
  background-color: #bae7b6;
  padding: 0.2rem 1.5rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 0px solid;
  outline: none;
}

input:focus {
  border: 1px solid #739a4b;
}
button.btn {
  background-color: #739a4b;
  margin-bottom: 20px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 2.5rem;
  border-radius: 5px;
  border: 0px solid;
  outline: none;
  cursor: pointer;
  transition: background 0.7s;
}
.btn:hover {
  background-color: #7bad48;
}

button.facebook {
  background-color: #3b5998;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 2.5rem;
  border-radius: 5px;
  border: 0px solid;
  outline: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

button.facebook img {
  fill: #fff;
}

button.facebook:hover {
  background-color: #3b5998;
  border: none;
}
button.facebook a {
  color: #fff;
  margin-left: 0.7rem;
  text-decoration: none;
}
button.google {
  background-color: #fff;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 2.5rem;
  border-radius: 5px;
  border: 0.5px solid;
  outline: none;
  cursor: pointer;
  border: 1px solid black;
}
button.google:hover {
  background-color: #fff;
  border: 1px solid black;
}
button.google a {
  color: black;
  font-size: bold;
  margin-left: 0.7rem;
  text-decoration: none;
}

.login .btn {
  background-color: transparent;
  border: 1px solid white !important;
  margin-bottom: 20px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  border-radius: 5px;
  border: 0px solid;
  outline: none;
  cursor: pointer;
  color: white;
}
.login .btn:hover {
  background-color: #fff;
  border: none;
  color: #7bad48;
}
.links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.links a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 820px) {
  * {
    margin-top: 0 !important;
    padding: 0;
  }
  .exit span img {
    display: none;
  }
  .cadastro h1 {
    margin-top: 200px !important;
  }
  .box {
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login {
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top-right-radius: none;
  }
  .cadastro {
    width: 100%;
  }
  .links {
    width: 19rem;

    margin-bottom: 10px;
  }
  section.login .btn {
    width: 298px !important;
  }
}
@media (min-widht: 450px) and(max-width:312px) {
  * {
    margin-top: 0 !important;
    padding: 0;
  }

  .box {
    border-top-right-radius: 0px !important;
    margin-top: auto;
  }
  .cadastro {
    margin-bottom: 0px !important;
  }
  .exit img {
    display: none;
  }
}
